.main-img{
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 0px;
}

.thumbnail{
    display:grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(20px,1fr));
    border: none;
    background: none;
    margin-top: -10px;
    padding: 10px;
    cursor: pointer;
}
@media only screen and (max-width: 600px) {
    .thumbnail{
        
    }
}
.thum{
    margin-top: 3rem;
    border-radius: 10px;
}
.thumb{
    border-radius: 10px;
    
}


.header{
    border: none; 
}
.modal_body{
    border-radius: 15px;
}
.main_img{
    border-radius:15px ;
    margin-bottom: -30px;

}

.btn-close{
    background-color: red;    
}
.modal-content{
    background: transparent;
    border: none; 
    box-shadow: none;
}


