.main-img{
    border-radius: 10px;
    margin-bottom: 30px;
}

.thumbnail{
    display:flexbox;
}
.thumb{
    margin: 10px;
    width: 5rem ;
    border-radius: 10px;
    display: flexbox;
}
.selected-image{
    border: 2px solid orange;
    margin: 10px;
    width: 5rem ;
    border-radius: 10px;
    display: flexbox;
}
.radio{
    text-decoration: none;
    
}
input[type='radio']:checked {
    position: relative;
    border: 2px solid red;
}
/* 
.header{
    background-color: red;
    background: rgba(255, 255, 255, 0.1);
    color: black;

}
.modal_body{
    

} */